/* CONFIGURAÇÕES INICIAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    background-color: #ebebeb !important;
  }

  body p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
  
  /* ÁREA DO HEADER */
  header {
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  #meuCarrossel {
    margin-top: 118px;
  }

  /* HEADER PARA CIMA - AZUL */
  .section-header-acima-azul {
    background-color: #0e4194;
    height: 50px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 20px;
  }

  .header-acima-azul-contatos nav {
    display: flex;
    gap: 15px;
  }

  .header-acima-azul-contatos a {
    color: white;
    text-decoration: none;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    gap: 8px;

    align-items: center;
    text-align: center;
  }

  .header-acima-azul-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-weight: 500;
  }

  .header-acima-azul-buttons a {
    height: 35px;
    display: flex;
  }

  .btn-conheca-o-objetivo {
    font-size: 15px;
    padding: 10px;

    align-items: center;
  }

  .btn-seja-escola-conveniada {
    padding: 5px 10px;
    font-size: 14px;
  }

  .btn-conheca-o-objetivo, .btn-seja-escola-conveniada {
    background-color: #002877;
    border-radius: 8px;

    text-decoration: none;
    transition: all 0.6s;
  }

  .btn-seja-escola-conveniada:hover {
    background-color: #001d57;
    transition: all 0.6s;
  }

  #btn-color-conheca-o-objetivo {
    color: #fdd703;
  }

  #btn-color-seja-escola-conveniada {
    color: white;
  }

  .btn-area-restrita {
    background-color: #fbc105;
    padding: 10px 20px;
    border-radius: 8px;

    font-size: 16px;
    text-decoration: none;
    color: #002877;
    display: flex;
    gap: 8px; 
    align-items: center;

    transition: all 0.7s;
  }

  .btn-area-restrita:hover {
    background-color: #ffed00;
    transition: all 0.7s;
  }

  /* HEADER PARA BAIXO - BRANCO */
  .section-header-baixo-branco {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .section-header-baixo-branco img {
    height: 55px;
  }
  
  .header-baixo-branco-menu {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .header-baixo-branco-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;

    align-items: center;
    text-align: center;
  }

  .header-baixo-branco-menu .submenu a {
    text-align: start;
    align-items: start;
  }
  
  .header-baixo-branco-menu li {
    position: relative;
  }
  
  .header-baixo-branco-menu a {
    display: block;
    padding: 15px 20px;
    color: #47536e;
    text-decoration: none;
    transition: all 0.3s, color 0.3s;
    margin-top: 13px; /* resolução para o alinhamento de nav */
  }

  .header-baixo-branco-menu a:hover {
    background-color: #f5f5f5;
    color: #003366;
    transition: all 0.6s;
  }

  li #a-matriculasabertas {
    font-weight: 700;
    color: #002877;
    border-bottom: solid 5px #fbc105;
    display: inline-block;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }  
  
  .header-baixo-branco-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    min-width: 250px;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
  }
  
  .header-baixo-branco-menu .submenu a {
    padding: 12px 16px;
    font-weight: normal;
    color: #47536e;
    transition: all 0.6s;
  }
  
  .header-baixo-branco-menu .submenu a:hover {
    background-color: #f4f4f4;
    color: #084298;
    transition: all 0.6s;
  }
  
  .header-baixo-branco-menu li:hover .submenu {
    display: block;
    transition: all 0.6s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* CARROSSEL DE IMAGENS */
  .carousel-item {
    background-color: #ebebeb;
    margin-top: 20px;
  }

  .carousel-item img {
    max-height: 600px;
    object-fit: cover;
  }  

  /* SECTION - MATRÍCULAS ABERTAS, CONHEÇA O OBJETIVO (EM AMARELO): */
  .section-agende-uma-visita-objetivo {
    background-color: #ffd703;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
  }

  .span-negrito, #texto-negrito {
    font-weight: 700;
  }

  #texto-negrito600 {
    font-weight: 600;
  }

  .section-agende-uma-visita-objetivo p {
    font-size: 24px;
    color: #0e4194;
  }

  .a-agende-uma-visita {
    background-color: #0d3880;
    border-radius: 8px;
    height: 40px;
    padding: 23px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
  }

  .a-agende-uma-visita:hover {
    background-color: #002877;
    transition: all 0.6s;
  }

  /* SECTION - CONHEÇA O SISTEMA DE ENSINO OBJETIVO */
  .section-conheca-o-sistema {
    margin: 30px;
  }

  .p-titulo-section {
    font-size: 42px;
    font-weight: 600;
    color: #0d3880;
    align-items: center;
    text-align: center;
  }

  .p-titulo-section-branco {
    font-size: 48px;
    font-weight: 600;
    color: white;
    align-items: center;
    text-align: center;
  }
  
  .div-fotos-conheca-o-sistema {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .conheca-o-tipo-de-ensino:hover {
    cursor: pointer;
  }

  .conheca-o-tipo-de-ensino img {
    max-width: 100%;
    height: auto;
  }

  .div-titulo-ensino {
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-titulo-ensino p {
    font-weight: bolder;
    color: white;
  }

  .div-descricao-ensino-hover {
    padding: 20px;
    color: white;
    text-align: center;
  }

  #div-educacao-infantil .div-titulo-ensino, #div-educacao-infantil .div-descricao-ensino-hover {
    background-color: #009fe3;
  }

  #div-ensino-fundamental .div-titulo-ensino, #div-ensino-fundamental .div-descricao-ensino-hover {
    background-color: #0e4194;
  }

  #div-ensino-medio .div-titulo-ensino, #div-ensino-medio .div-descricao-ensino-hover {
    background-color: #0c6f36;
  }

  #div-pre-vestibular .div-titulo-ensino, #div-pre-vestibular .div-descricao-ensino-hover, #p-pre-vestibular {
    background-color: #fbc105;
    color: #0d3880;
  }

  /* SECTION - MOTIVOS PARA ESTUDAR NO OBJETIVO */
  .section-motivos-para-estudar-objetivo {
    background-color: #0a58ca;
    padding: 48px;
    margin-bottom: 30px;
  }

  .section-motivos-estudar {
    margin-top: 40px;
    padding: 0px 65px;
  }

  .div-6-motivos-topo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .div-3-motivos-baixo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .div-motivo {
    background-color: #002877;
    color: white;

    height: 180px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align: center;
  }

  .div-motivo i {
    color: yellow;
    font-size: 45px;
  }

  .div-motivo2 {
    margin-top: 10px;

    display: flex;
    background-color: #002877;
    color: white;

    height: 180px;
    padding: 30px;
    border-radius: 6px;
    
    display: flex;
    gap: 20px;

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }

  .div-motivo2 img {
    width: 90px;
  }

  /* SECTION INSCRIÇÕES ABERTAS PARA OS DESAFIOS */
  .section-inscricoes-abertas-desafios {
    padding: 0px 65px;
    margin-bottom: 30px;
  }

  .listagem-inscricoes-desafios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
    padding: 0px 85px;
  }

  .inscricao-desafio {
    border-radius: 6px;
    background-color: rgba(255,255,255);
    color: #212529;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 20px 0px;
    width: 400px;
    height: 430px;
  }

  .inscricao-desafio i {
    color: #fdd703;
  }

  .div-informacoes-desafio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .div-informacoes-desafio p {
    text-align: start !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px;
    width: 80%;
  }

  .p-titulo-inscricao-desafio {
    font-size: 26px;
    color: #0085cc;
    font-weight: 600;
    padding: 10px;

    align-items: center;
    text-align: center;
  }

  .a-inscricao-desafio {
    margin-top: 30px;
    background-color: #0a58ca;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    padding: 23px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    transition: all 0.6s;
  }

  .a-inscricao-desafio:hover {
    background-color: #084298;
    transition: all 0.6s;
  }

  /* SECTION NOTICIAS */
  .section-noticias {
    background-color: #fdd703;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  #p-titulo-section-noticia, #p-titulo-objetivo-em-numeros {
    color: #0a58ca !important;
  }

  .div-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 70px;
    padding-bottom: 30px;
  }

  .div-noticia {
    width: 330px;
    height: 330px;
    overflow: hidden;
  }

  .div-noticia img {
    width: 330px;
    height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all 0.7s;
    object-fit: cover;
  }

  .div-noticia img:hover {
    transition: all 0.6s;
    transform: scale(1.10);
    border-radius: 0px;
    cursor: pointer;
  }

  .div-descricao-noticia {
    background-color: #ebebeb;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 105px;
  }

  .div-descricao-noticia a {
    color: #14387f;
    text-decoration: none;
    transition: all 0.6s;
  }

  .div-descricao-noticia a:hover {
    color: #002369;
    transition: all 0.6s;
  }

  .a-ler-mais-noticias {
    text-decoration: none;
    color: white;
    padding: 10px 24px;

    background-color: #0a58ca;
    border-radius: 999px;
  }

  #div-a-ler-mais-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a-ler-mais-noticias:hover {
    background-color: #084298;
  }

  /* SECTION INICIATIVAS - ATUALIDADES OBJETIVO */
  .section-iniciativas-atualidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 35px 120px;
    gap: 40px;
    
    background-color: #edf2fc;
  }

  .iniciativa-atualidade {
    background-color: #ebebeb;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: solid 2px #0d3880;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 300px;
  }

  .a-iniciativas-atualidades {
    text-decoration: none;
  }

  .iniciativa-atualidade i {
    color: #0e4194;
    font-size: 65px;
  }

  .titulo-iniciativa {
    padding-top: 20px;
    padding-bottom: 10px;

    color: #0e4194;
    font-size: 30px;
    line-height: 1.2;

    text-align: center;
  }

  .descricao-iniciativa {
    color: #212529;
    text-align: center;
  }

  /* SECTION DEPOIMENTOS */
  .section-depoimentos-alunos, .carousel-item {
    background-color: #ebebeb !important;
  }

  .p-depoimento-aprovado {
    color: #6c757d;
    padding-top: 20px;
    font-size: 14px;
  }

  .a-leia-mais-depoimentos {
    text-decoration: none;
    border-radius: 999px;
    border: solid 1px #0a58ca;
    color: #0a58ca;
    padding: 8px 15px;

    transition: all 0.7s;
  }

  .a-leia-mais-depoimentos:hover {
    color: white;
    background-color: #0a58ca;

    transition: all 0.7s;
  }

  #div-a-leia-mais-depoimentos {
    padding-bottom: 45px;
  }

#carrosselDepoimentos .carousel-indicators [data-bs-target] {
    background-color: #fc0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 1;
}

#carrosselDepoimentos .carousel-indicators .active {
  background-color: rgba(1,41,112);
}

/* SECTION OBJETIVO EM NÚMEROS */
.section-objetivo-em-numeros {
  background-color: #fbfbfb;
  padding: 30px 0px;
}

.p-descricao-numeros-objetivo {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
}

.p-numeros-objetivo, .div-numero-objetivo i {
  color: #0a58ca;
  font-size: 45px;
  font-weight: 600;
}

.divgeral-numeros-objetivo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 140px;
  padding-bottom: 30px;
  gap: 25px;
}

.div-numero-objetivo {
  border-radius: 6px;
  background-color: rgba(255,255,255);
  color: #212529;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  padding: 20px 0px;
  width: auto;
  height: auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SECTION DO FOOTER */
/* FOOTER CIMA */
.footer-cima-azulescuro-redes {
  background-color: #0d3880;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 110px;
}

.footer-div-esquerda-redes-e-appstore {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 130px;
}

.p-footer-descricao {
  font-size: 14px;
  color: white;
}

.div-footer-redes-sociais {
  display: flex;
  gap: 10px;
}

.div-footer-redes-sociais i {
  color: white;
  font-size: 33px;
}

.footer-div-direita-contato-numero a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  align-items: center;
}

/* FOOTER MEIO */
.footer-meio-azul-outras-abas {
  background-color: #0e4194;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 35px;
  gap: 100px;
}

.p-titulo-aba-footer-meio-azul {
  border-left: solid 4px #fc0;
  padding-left: 10px;

  font-size: 20px;
  color: #fdd703;
}

.aba-footer-meio-azul {
  display: flex;
  flex-direction: column;
}

.aba-footer-meio-azul a {
  text-decoration: none;
  color: white;
}

/* FOOTER FINAL */
.footer-final-azulescuro-copyright {
  background-color: #0d3880;
  color: #FFFFFF80;
  text-align: center;
  font-size: 14px;

  padding: 15px 110px;
}

.footer-final-azulescuro-copyright a {
  color: white;
  text-decoration: none;
}

#fonte-italico {
  font-style: italic;
}